* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	/* Браузер сначала попробует найти шрифт локально */
	src: local("Lato"),
		/* Если не получилось, загрузит woff2 */
		url("fonts/Lato/Lato-Regular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("fonts/Lato/Lato-Regular.woff") format("woff");
}

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 19px;
	color: #222222;
}

a {
	text-decoration: none;
}

.center {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	/* outline: 1px dashed blue */
}

.header_container {
	background-color: #222222;
}

.header {
	display: flex;
	padding: 18px 0;
	justify-content: space-between;
}

.header_wrp_btn {
	display: flex;
}

.header_logo_link {}

.header_logo_link_img {
	padding-right: 20px;
}

.header_search_link {}

.header_search_link:hover .header_search_link_icon {
	opacity: 0.7;
}

.header_search_link:active .header_search_link_icon {
	fill: #2c79ffd4;
}

.header_search_link_icon {
	fill: #E8E8E8;
	margin-top: 6px;
}

.header_menu_link {}

.header_menu_link:hover .header_menu_link_icon {
	opacity: 0.7;
}

.header_menu_link:active .header_menu_link_icon {
	fill: #2c79ffd4;
}

.header_menu_link_icon {
	fill: #E8E8E8;
	padding: 15px 16px 0 17px;
}

.header_account_link {}

.header_account_link:hover .header_account_link_icon {
	opacity: 0.7;
}

.header_account_link:active .header_account_link_icon {
	fill: #2c79ffd4;
}

.header_account_link_icon {
	fill: #E8E8E8;
	padding: 10px 16px 0 17px;
}

.header_cart_link {
	position: relative;
}

.header_cart_link:hover .header_cart_link_icon {
	opacity: 0.7;
}

.header_cart_link:active .header_cart_link_icon {
	fill: #2c79ffd4;
}

.header_cart_link span {
	width: 19px;
	height: 19px;
	background-color: #F16D7F;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: absolute;
	top: 2px;
	left: 40px;
	font-size: 12px;
}

.header_cart_link_icon {
	fill: #E8E8E8;
	padding: 10px 16px 0 17px;
}

.banner_block {
	background-color: #F1E4E6;
	margin: auto auto 95px auto;
}

.banner_block_wrp {
	display: flex;
	align-items: center;
}

.banner_block_img {
	max-width: 570px;
	width: 100%;
	min-height: 764px;
	box-sizing: border-box;
	background: url('../img/man.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
}

.banner_block_info {
	display: flex;
	max-width: 570px;
	margin-left: 5%;
}

.banner_block_title {
	font-weight: 900;
	font-style: normal;
	font-size: 48px;
	line-height: 58px;
	text-transform: uppercase;
	height: 93px;
	width: 377px;
	border-left: 12px solid #F16D7F;
	padding-left: 16px;
	margin-top: auto;
}



.banner_block_title:before {}

.banner_block_subtitle {
	display: block;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	text-transform: uppercase;
}

.banner_block_subtitle2 {
	color: #F16D7F;
}

.categories {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 96px;
	justify-content: center;
}

.categories_block {
	width: minmax(320px, 360px);
	height: 240px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* для затемнения фоновой картинки */
	background-color: rgba(33, 22, 22, 0.7);
	background-blend-mode: darken;
}

.categories_block_big {
	min-height: 180px;
	grid-column: 1 / -1;
	grid-column: span 3;
	grid-row: span 3;
}

.categories_block_link {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-decoration: none;
	cursor: pointer;
}

.categories_block:nth-child(1) {
	background-image: url('../img/1-for_women.png');
}

.categories_block:nth-child(2) {
	background-image: url('../img/2-for_men.png');
}

.categories_block:nth-child(3) {
	background-image: url('../img/3-for_kids.png');
}

.categories_block:nth-of-type(4) {
	/* display: block;
	width: 1140px;
max-width: 100%;
		height: 180px; */
	background-image: url('../img/4-ACCESORIES.png');
}

.categories_block_title {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 122px 0 122px;
	color: #FFFFFF;
}

.categories_block_subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	text-align: center;
}

.categories_block_subtitle_2 {}

.products-container {}

.products_title {
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0 auto 6px auto;
}

.products_desc {
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
	text-align: center;
	margin: 0 auto 48px auto;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.products_item {
	display: block;
	width: 360px;
	margin: 0 0 30px 0;
	position: relative;
	background: #F8F8F8;
	text-decoration: none;
	box-sizing: border-box;
}

.products_item:hover .products_item_btn {
	display: flex
}

.products_item:hover .products_item_btn:hover {
	background-color: #ccc;
	color: #000;
	border: 1px solid #000;
}

.products_item:hover .products_item_btn:hover svg {
	fill: #000;
}

.products_item:hover .products_item_btn:active {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

.products_item:hover .products_item_btn:active svg {
	fill: #fff;
}

/* затемнение реализовано через псевдоэлемент */
.products_item:hover .products_item_photo_wrp:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(58, 56, 56, 0.86);
	position: absolute;
	top: 0;
	left: 0;
}

.products_item_photo_wrp {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #F7E4E2;
	box-sizing: border-box;
	/* для затемнения через псевдоэлемент необходимо задать родительскому блоку position: relative; */
	position: relative;
}

.products_item_link {}

.products_item_link_photo {
	display: block;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}

.products_item_name {
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	margin: 24px auto 12px 18px;
}

.txt {}

.products_item_desc {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
	margin: 0 auto 18px 16px;
	width: 320px;
}

.products_item_price {
	display: block;
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
	margin: 0 auto 20px 18px;
}

.products_item_btn {
	display: none;
	justify-content: center;
	align-items: center;
	width: 160px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
	background: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	position: absolute;
	top: 30%;
	left: calc(50% - 80px);
}

.products_item_btn svg {
	fill: #fff;
	margin: 0 11px 0 0;
}

.products_link_all {
	display: block;
	width: 100%;
	max-width: 211px;
	margin: 0 auto 95px auto;
	padding: 14.5px;
	background-color: #fff;
	border: 2px solid #F26376;
	box-sizing: border-box;
	color: #F26376;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	/* line-height: 19, 2px; */
	text-align: center;
	word-break: break-all;
}

.products_link_all:hover {
	background-color: #F26376;
	/* border: 2px solid #F26376; */
	color: #fff;
}

.products_link_all:active {
	background-color: #fff;
	/* border: 2px solid #000; */
	color: #F26376;
}

.future {
	background-color: #222224;
	min-height: 341px;
	margin: 95px auto 0 auto;
}

.future_list {
	display: flex;
	justify-content: center;
	margin: 95px 0 0 0;
	gap: 30px;
	list-style-type: none;
	padding: 104px 0;
	flex-wrap: wrap;
}

.future_list_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 360px;
	height: 134px;
}

.future_list_item svg {
	fill: #F16D7F;
	justify-content: center;
	display: block;
}

.future_list_item_svg {}

.future_list_item_title {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FBFBFB;
	margin: 24px auto 16px auto;
}

.future_list_item_subtitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
	width: 310px;
	margin: 0 auto;
}

.subscribe {
	background-image: url('../img/photo-subscribe.png');
	background-repeat: no-repeat;
	min-height: 448px;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 190px;
}

.subscribe_left {
	width: 360px;
	padding-top: 97px;
}

.subscribe_left_photo {
	display: block;
	padding: 0px 125px;
}

.subscribe_left_desc {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	width: 360px;
	color: #222224;
}

.subscribe_left_desc_2 {
	font-style: italic;
}

.subscribe_form {
	text-align: center;
	padding-top: 150px;
}

.subscribe_form_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
}

.subscribe_form_title_2 {
	display: block;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.footer {
	background-color: #222224;
	padding: 24px 0;
}

.footer_wrp {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.footer_copyright {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #FBFBFB;
}

.footer_social {}

.footer_social_list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 7px;
}

.footer_social_list_item {
	fill: white;
}

.footer_social_list_item path:last-child {
	fill: #000;
}

.footer_social_list_item:hover path:first-child {
	fill: #F26376;

}

.footer_social_list_item:hover path:last-child {
	fill: #fff;
}

.footer_social_list_item:active path:first-child {
	fill: #fff;
}

.footer_social_list_item:active path:last-child {
	fill: #000;
}