* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #020A18;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	font-style: normal;
	color: #FFFFFF;
}

a {
	text-decoration: none;
}

.center {
	max-width: 1146px;
	width: 100%;
	margin: 0 auto;
	/* outline: 1px solid #fff; */
}

.top {
	margin: 0 0 256px 0;
}

/* ============= header =========== */
.header {
	background-color: #040C1A;
	padding: 39px 0;
	margin: 0 0 160px 0;
}

.menu-list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.menu-list-item {}

.menu-list-item a {
	color: #fff;
	line-height: 22px;
}

.menu-list-item a:hover {
	opacity: 0.7;
}

.menu-list-item a:active {
	color: #2c79ffd4;
}

/* ============= END header =========== */


/* ============= top-content =========== */
.top-wrp {}

.top-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 128px;
	margin: 0 0 160px 0;
}

.top-content-info {
	max-width: 604px;
	width: 100%;
	/* outline: 1px solid red; */
	text-align: left;
}

.top-content-small-txt {
	margin: 0 0 10px 0;
	font-size: 18px;
	line-height: 29px;
	text-transform: uppercase;
	color: #3A68B8;
}

.top-content-title {
	margin: 0 0 40px 0;
	font-weight: 800;
	font-size: 55px;
	line-height: 71px;
}

.top-content-txt {
	max-width: 558px;
	width: 100%;
	margin: 0 0 50px 0;
	font-size: 18px;
	line-height: 29px;
	opacity: 0.7;
}

.top-content-btn-wrp {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	/* outline: 1px solid orange; */
}

.top-content-btn {
	color: #fff;
	display: block;
	max-width: 217px;
	width: 100%;
	padding: 15px 30px;
	box-sizing: border-box;
	border: none;
	background-color: #3A68B8;
	border-radius: 5px;
	font-size: 20px;
	line-height: 27px;
}

.top-content-btn:hover {
	color: #3A68B8;
	background-color: #fff;
}

.top-content-btn:active {
	color: #fff;
	background-color: #3A68B8;
}

.top-content-btn__width {
	max-width: 171px;
}

.top-content-photo {
	width: 414px;
	height: 415px;
}

.top-content-photo img {
	display: block;
	width: 100%;
	height: 100%;
}

/* ============= END top-content =========== */

/* ============= top-logos =============*/

.top-logos {}

.top-logos-list {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 71px;
	flex-wrap: wrap;
	list-style: none;
}

.top-logos-list-item {}

/* ============= END top-logos =============*/


/* ============= advantages =============*/

.advantages {
	margin: 0 auto 243px auto;
}

.advantages-list {
	display: grid;
	/* grid-template-columns: repeat(3, 362px); */
	grid-template-columns: repeat(3, minmax(30%, 362px));

	gap: 30px;
	list-style: none;
}

.advantages-item {
	max-width: 362px;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	/* outline: 1px solid #fff; */
	background-color: #132035;
	border-radius: 10px;
	/* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; */
}

.advantages-list-item-big {
	grid-column: span 2;
	grid-row: span 2;
}

.advantages-item__big {
	max-width: 754px;
	min-height: 808px;
}

.advantages-item__big .advantages-item-photo {
	width: 306px;
	height: 322px;
	margin: 0 auto 60px 0;
}

.advantages-item__big .advantages-item-title {
	margin: 0 0 60px 0;
}

.advantages-item-photo {
	width: 98px;
	height: 103px;
	margin: 0 auto 30px auto;
	/* outline: 1px solid red; */
	background-image: url('../img/advantages-photo-1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.advantages-photo__2 {
	background-image: url('../img/advantages-photo-2.png');
}

.advantages-photo__3 {
	background-image: url('../img/advantages-photo-3.png');
}

.advantages-photo__4 {
	background-image: url('../img/advantages-photo-4.png');
}

.advantages-photo__5 {
	background-image: url('../img/advantages-photo-3.png');
}

.advantages-photo__6 {
	background-image: url('../img/advantages-photo-3.png');
}


.advantages-item-title {
	margin: 0 0 30px 0;
	font-weight: 700;
	font-size: 25px;
	line-height: 31px;
	text-align: center;
	opacity: 0.7;
}

.advantages-item-txt {
	text-align: center;
	opacity: 0.7;
}

/* ============= END advantages =============*/

@media(max-width: 1024px) {
	.center {
		max-width: 768px;
	}

	.top-content-small-txt {
		font-size: 16px;
		line-height: 26px;
	}

	.top-content-title {
		font-size: 48px;
		line-height: 62px;
	}

	.top-logos-list {
		/* max-width: 534px;
		margin: 0 auto; */
		padding: 0 5%;
		box-sizing: border-box;
		gap: 32px;
	}

	.advantages-list {
		/* grid-template-columns: repeat(1, 362px); */
		grid-template-columns: repeat(1, minmax(30%, 362px));
		justify-content: center;
	}

	.advantages-item__big {
		max-width: 362px;
		min-height: 389px;
	}

	.advantages-list-item-big {
		grid-column: span 1;
		grid-row: span 1;
	}

	.advantages-item__big .advantages-item-photo {
		width: 98px;
		height: 103px;
		margin: 0 auto 30px auto;
	}

	.advantages-item__big .advantages-item-title {
		margin: 0 0 30px 0;
	}

	/* [class|="advantages-list-item"]{
		display: none;
	}*/

}

@media(max-width: 1024px) {}